{% extends "bootstrap/base.html" %}

{% block content %}
<div class="alert alert-success text-center">
    <h4>The FC PWWN "{{pwwn}}" has been associated to new host "{{associated_host}}" </h4>
</div>
<br>
<h4>pwwn get request:</h4>
<p>{{pwwn_get_request}}</p>
<br>
<h4>pwwn assumed json response:</h4>
<p>{{pwwn_assumed_json_response}}</p>
<br>
<h4>associated host get request:</h4>
<p>{{associated_host_get_request}}</p>
<br>
<h4>associated host assumed json response:</h4>
<p>{{associated_host_assumed_json_response}}</p>
<br>
<h4>request to associate PWWN with new Host:</h4>
<p>{{request_command}}</p>
<br>
<h4>assumed successful json response:</h4>
<p>{{assumed_successful_json_response}}</p>
{% endblock %}