{% extends "bootstrap/base.html" %}

{% block content %}
<div class="alert alert-success text-center">
    <h4>The FC PWWN "{{pwwn}}" has been associated to new host "{{associated_host}}" </h4>
</div>
<div class="container-fluid top-buffer">
    <h4>pwwn get request:</h4>
    <p>{{pwwn_get_request}}</p>
    <br>
    <h4>assumed pwwn json response:</h4>
    <p>{{pwwn_assumed_json_response}}</p>
    <br>
    <h4>associated host get request:</h4>
    <p>{{associated_host_get_request}}</p>
    <br>
    <h4>assumed associated host json response:</h4>
    <p>{{associated_host_assumed_json_response}}</p>
    <br>
    <h4>associate PWWN with new host request:</h4>
    <p>{{request_command}}</p>
    <p>{{curl_command}}</p><br>
    <br>
    <h4>assumed successful json response:</h4>
    <p>{{assumed_successful_json_response}}</p>
</div>
{% endblock %}