{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
   <h1>Kaminario Tool POC</h1>
</div>

<div class="container top-buffer">
<h4>Create Volume Group</h4>
<form method="POST" action="/create_volume_group">
  <div class="form-group">
    <label>Volume Group Name:</label>
    <input type="text" name="volume_group_name" placeholder="Enter Volume Group Name" required="true">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container top-buffer">
<h4>Create Volume</h4>
<form method="POST" action="/create_volume">
  <div class="form-group">
    <label>Volume Name:</label>
    <input type="text" name="volume_name" placeholder="Enter Volume Name" required="true">
  </div>
  <div class="form-group">
    <label>Volume size (GB):</label>
    <input type="text" name="volume_size" placeholder="Enter Volume size in GBs" required="true">
  </div>
  <div class="form-group">
    <label>Volume Group:</label>
    <input type="text" name="volume_group" placeholder="Enter Volume Group" required="true">
  </div>
  <div class="form-group">
    <label>VMware Enabled:</label>
    <select class="form-control-inline" name="vmware_support">
            <option>True</option>
            <option>False</option>
    </select>
  </div>
   <div class="form-group">
    <label>description:</label>
    <textarea class="form-control" name="volume_description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
</div>

<!-- come back and do this if extra time is available

<div class="container top-buffer">
<h4>Modify the Volume Group of a Volume</h4>
<form method="POST" action="/modify_volume_group">
  <div class="form-group">
    <label>Volume Name:</label>
    <input type="text" name="volume_group_name" placeholder="Enter Volume Name">
  </div>
  <div class="form-group">
    <label>Volume Group Name</label>
    <input type="text" name="volume_group_name" placeholder="Enter Volume Group Name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
-->

<div class="container top-buffer">
<h4>Create Host Group</h4>
<form method="POST" action="/create_host_group">
  <div class="form-group">
    <label>Host Group Name:</label>
    <input type="text" name="host_group_name" placeholder="Enter Host Group Name" required="true">
  </div>
  <div class="form-group">
    <label>Connectivity Type:</label>
    <input type="text" name="connectivity_type" placeholder="Enter Connectivity Type">
  </div>
  <div class="form-group">
    <label>description:</label>
    <textarea class="form-control" name="host_group_description"></textarea>
  </div>
  <div class="form-group">
    <label>Allow Different Host Types:</label>
    <select class="form-control-inline" name="allow_different_host_types">
            <option>True</option>
            <option>False</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container top-buffer">
<h4>Create Host</h4>
<form method="POST" action="/create_host">
  <div class="form-group">
    <label>Host Name:</label>
    <input type="text" name="host_name" placeholder="Enter Host Name" required="true">
  </div>
  <div class="form-group">
    <label>Host Type:</label>
    <input type="text" name="host_type" placeholder="Enter Host Type" required="true">
  </div>
<div class="form-group">
    <label>Host Group:</label>
    <input type="text" name="host_group" placeholder="Enter Host Group">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container top-buffer">
<h4>FC PWWN Lookup</h4>
<form method="POST" action="/fc_pwwn_lookup">
  <div class="form-group">
    <label>PWWN:</label>
    <input type="text" name="pwwn" placeholder="Enter PWWN" required="true">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container top-buffer">
<h4>Modify FC PWWN Host Association</h4>
<form method="POST" action="/fc_pwwn_host_modify">
  <div class="form-group">
    <label>PWWN:</label>
    <input type="text" name="pwwn" placeholder="Enter PWWN" required="true">
  </div>
  <div class="form-group">
    <label>Associated Host:</label>
    <input type="text" name="associated_host" placeholder="Enter New Host" required="true">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}

