{% extends "bootstrap/base.html" %}

{% block content %}
<div class="alert alert-success text-center">
    <h4>The volume "{{volume_name}}" has been mapped to  host "{{host_name}}" </h4>
</div>
<br>
<h4>volume get request:</h4>
<p>{{volume_get_request}}</p>
<br>
<h4>volume assumed json response:</h4>
<p>{{volume_assumed_json_response}}</p>
<br>
<h4>host get request:</h4>
<p>{{host_get_request}}</p>
<br>
<h4>host assumed json response:</h4>
<p>{{host_assumed_json_response}}</p>
<br>
<h4>request to map volume with host:</h4>
<p>{{request_command}}</p>
<br>
<h4>assumed successful json response:</h4>
<p>{{assumed_successful_json_response}}</p>
{% endblock %}